<launch>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_link" args="0 0 0.24 0 0 0 1 odom base_link" />  -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 1 map odom" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_scan" args="1.5 0 1.25 0 0 0 1 base_link scan" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_lidar" args="1.5 0 1.25 0 0 0 1 base_link lidar3D" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" args="0 0 0 0 0 0 1 base_link imu" />
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera" args="4 0 2 0 0 0 1 base_link camera" /> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_gps" args="0 0 0 0 0 0 1 base_link gps" />
    <!-- <node pkg="wego" type="odom.py" name="pub_odom" output="screen"/> -->
    <!-- <node pkg="wego" type="imu_filter.py" name="pub_rounded_imu" output="screen">
        <remap from="/rounded_imu" to="/remap_imu" />
    </node> -->

</launch>